@model SportsStore.Domain.Entities.ShippingDetails
@{
    ViewBag.Title = "SportStore: Checkout";
}

<h2>Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div class="form-group">
        <label>Name:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <h3>Address</h3>

    //Thuộc tính ViewData.ModelMetadata trả về một đối tượng
    //System.Web.Mvc.ModelMetaData cung cấp thông tin về loại model của View.

    //Thuộc tính Properties sử dụng trong vòng lặp foreach trả về một tập hợp
    //các đối tượng ModelMetaData, mỗi đối tượng đại diện cho một thuộc tính
    //được xác định bởi loại model.

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                @*Kiểm tra thuộc tính DisplayName (đã được định nghĩa trong lớp ShippingDetails)
                    và sử dụng nó*@
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }


    <h3>Option</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Gift wrap these items
        </label>

    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete order" />
    </div>
}